.Rproj.user/
Manifest.toml
*.swp
.ipynb_checkpoints/
Rplots.pdf
results
examples/*.pdf
.vscode/
anim1.gif
anim_kpdtm.gif
anim_kpdtm2.gif
diag3.png
clustering_kmeans.png
clustering_tclust.png
True_clustering.png
clustering_ToMATo.png
examples/kmeans_from_scratch.ipynb
examples/plot_distance_to_measure.ipynb
docs/src/notebooks/fourteen_lines.ipynb
docs/src/notebooks/two_spirals.ipynb
